solution/Workflows/ms-outlook-invite-office365-flow-6659800E-7EF1-F011-8406-00224885F6FF.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "jtrbv_sharedoffice365_e66d0"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_new_email_arrives_(V3)": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "Id::AAMkADNmMzk4NTBhLWY1YWYtNDcwMC1hMzY0LTc3MzRkYmMyZTA1MgAuAAAAAAAn4YegcsK8RLGp4bF1LkdDAQBsrr_0WlPPS45_whAiEEykAAAAAGyTAAA=": "AUTO-INVITE",
            "operationMetadataId": "f198961a-a89e-4ecb-b013-371dc1ae2818"
          },
          "type": "OpenApiConnectionNotification",
          "inputs": {
            "parameters": {
              "includeAttachments": false,
              "subjectFilter": "[AUTO-INVITE]",
              "importance": "Any",
              "fetchOnlyWithAttachment": false,
              "folderPath": "Id::AAMkADNmMzk4NTBhLWY1YWYtNDcwMC1hMzY0LTc3MzRkYmMyZTA1MgAuAAAAAAAn4YegcsK8RLGp4bF1LkdDAQBsrr_0WlPPS45_whAiEEykAAAAAGyTAAA="
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "operationId": "OnNewEmailV3",
              "connectionName": "shared_office365"
            }
          }
        }
      },
      "actions": {
        "Parse_JSON": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "96b4d585-6289-4b79-bfd6-12573891a39a"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerOutputs()?['body/body']",
            "schema": {
              "type": "object",
              "properties": {
                "subject": {
                  "type": "string"
                },
                "attendees": {
                  "type": "string"
                },
                "location": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "host": {
                  "type": "string"
                },
                "projectKey": {
                  "type": "string"
                },
                "issueId": {
                  "type": "string"
                },
                "issueKey": {
                  "type": "string"
                },
                "boardNames": {
                  "type": "string"
                },
                "boardIds": {
                  "type": "string"
                },
                "boardName": {
                  "type": "string"
                }
              }
            }
          }
        },
        "Create_event_(V4)": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "277673f5-4f4b-431b-be8b-5e43d370b62f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "table": "AAMkADNmMzk4NTBhLWY1YWYtNDcwMC1hMzY0LTc3MzRkYmMyZTA1MgBGAAAAAAAn4YegcsK8RLGp4bF1LkdDBwBsrr_0WlPPS45_whAiEEykAAAAAAEGAABsrr_0WlPPS45_whAiEEykAAAAACiMAAA=",
              "item/subject": "@body('Parse_JSON')['subject']",
              "item/start": "@utcNow()",
              "item/end": "@addHours(utcNow(), 1)",
              "item/timeZone": "(UTC+01:00) Brussels, Copenhagen, Madrid, Paris",
              "item/body": "<p class=\"editor-paragraph\">@{concat('<!DOCTYPE html> <html lang=\"en\"> <head> <meta charset=\"UTF-8\"> <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"> <title>New Meeting Event</title> </head> <body style=\"margin: 0; padding: 0; background-color: #ffffff; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-family: Arial, Helvetica, sans-serif;\"> <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse: collapse; background-color: #ffffff;\"> <tr> <td align=\"center\" style=\"padding: 0;\"> <table width=\"650\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width: 650px; border-collapse: collapse; background-color: #ffffff;\"> <tr> <td background=\"https://johantre.github.io/ms-outlook-invite/images/volvo.png\" bgcolor=\"#ffffff\" width=\"650\" height=\"255\" valign=\"top\" style=\"background-repeat: no-repeat; background-position: top center; background-size: contain; padding: 20px 22px 0px 22px;\"> <div> <h1 style=\"margin: 0; font-family: ''Arial Narrow'', Arial, sans-serif; font-size: 22pt; font-weight: bold; color: white;\"> New Meeting Event </h1> </div> </td> </tr> <tr> <td style=\"padding: 10px 22px 15px 22px;\"> <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse: collapse; background-color: #f6f8fa; border: 1px solid #e1e4e8;\"> <tr> <td style=\"padding: 10px; font-family: Arial, sans-serif; font-size: 10pt; color: #000000;\"> <strong style=\"font-size: 10pt;\">Attendees: </strong><br> <code style=\"font-family: ''Courier New'', Courier, monospace;\">', body('Parse_JSON')?['attendees'], '</code> </td> </tr> </table> </td> </tr> <tr> <td align=\"center\" style=\"padding: 10px 22px 20px 22px; font-family: Arial, sans-serif; font-size: 10pt; color: #000000; text-align: center;\"> <p style=\"margin: 0 0 10px 0; line-height: 1.4;\">Dear Attendees,</p> <p style=\"margin: 0 0 10px 0; line-height: 1.4;\">You are invited to this meeting.</p> <p style=\"margin: 0 0 10px 0; line-height: 1.4;\"><strong>Expectations for this event: Your good mood.</strong></p> <p style=\"margin: 0; line-height: 1.4;\">Regards, your servant leader</p> </td> </tr> <tr> <td style=\"padding: 15px 22px 40px 22px;\"> <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse: collapse; border-top: 1px solid #e1e4e8;\"> <tr> <td style=\"padding-top: 15px; font-family: Arial, sans-serif;\"> <h3 style=\"margin: 0 0 5px 0; font-family: ''Arial Narrow'', Arial, sans-serif; font-size: 11pt; font-weight: bold; text-align: left; color: #000000;\"> Summary </h3> <div style=\"text-align: center; padding-bottom: 20px;\"> <p style=\"margin: 0; font-size: 10pt; color: #000000;\">', body('Parse_JSON')?['subject'], '</p> </div> <h3 style=\"margin: 0 0 5px 0; font-family: ''Arial Narrow'', Arial, sans-serif; font-size: 11pt; font-weight: bold; text-align: left; color: #000000;\"> Description </h3> <div style=\"text-align: center;\"> <p style=\"margin: 0; font-size: 10pt; color: #000000;\">', replace(body('Parse_JSON')?['description'], decodeUriComponent('%0A'), '<br>'), '</p> </div> </td> </tr> </table> </td> </tr> <tr> <td bgcolor=\"#a8c4bb\" style=\"padding: 25px 22px; background-color: #a8c4bb;\"> <h2 style=\"margin: 0 0 5px 0; font-family: ''Arial Narrow'', Arial, sans-serif; font-size: 18pt; font-weight: bold; color: #bc373a;\"> STAY TUNED </h2> <h2 style=\"margin: 0 0 15px 0; font-family: ''Arial Narrow'', Arial, sans-serif; font-size: 20pt; font-weight: bold; color: #000000;\"> VOLVO CARS IT. </h2> <p style=\"margin: 0; font-family: Arial, sans-serif; font-size: 10pt; color: #000000;\">Do you have questions? Contact us on <a href=\"mailto:ict.helpdesk@volvo.com\" style=\"color: #0066B1; text-decoration: underline;\">ict.helpdesk@volvo.com</a> or +32-9-000-0000.</p> </td> </tr> </table> </td> </tr> </table> </body> </html>')}</p>",
              "item/location": "@{body('Parse_JSON')?['location']} "
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "operationId": "V4CalendarPostItem",
              "connectionName": "shared_office365"
            }
          }
        },
        "Compose_-_Split_boardNames": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@split(body('Parse_JSON')?['boardNames'], ', ')"
        },
        "Compose_-_Split_boardIds": {
          "runAfter": {
            "Compose_-_Split_boardNames": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@split(body('Parse_JSON')?['boardIds'], ', ')"
        },
        "Initialize_variable_-_foundBoardId": {
          "runAfter": {
            "Compose_-_Split_boardIds": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "foundBoardId",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_-_index": {
          "runAfter": {
            "Initialize_variable_-_foundBoardId": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "index",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('Compose_-_Split_boardNames')",
          "actions": {
            "Condition": {
              "actions": {
                "Set_variable": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "foundBoardId",
                    "value": "@outputs('Compose_-_Split_boardIds')[variables('index')]"
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@items('Apply_to_each')",
                      "@body('Parse_JSON')?['boardName']"
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "Increment_variable": {
              "runAfter": {
                "Condition": [
                  "Succeeded"
                ]
              },
              "type": "IncrementVariable",
              "inputs": {
                "name": "index",
                "value": 1
              }
            }
          },
          "runAfter": {
            "Initialize_variable_-_index": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}